@import "mixins";

body{
	font-family: 'proxima_nova_altlight';
  	color:$primary-color;
	font-size: 40px;
	color: #1c1c1c;
}

ul,li{
	@include nospace();
	list-style:none;
}



//.container-fluid{padding:0;}
.h100 {height: 100%;}
.relative {position: relative;}
.full-height{
	width:100%;
	height: 100vh;
}


#fp-nav ul li .fp-tooltip{ color: #ccc;}
#fp-nav ul li a span{ background: #ddd;}
.btm-border{
	@include gradiant();
	height:10px;
	width:100%;
	position: absolute;
    bottom: 0;
	@media (max-width: 1024px) {display: none;}
    @media (max-width: 767px) {display: none;}
    @media (max-width: 576px) {display: none;}
}



.section { padding: 0 50px;
	@media (max-width: 991px) {
		border-bottom: 2px solid #ccc;
	}
	&:last-child {border-bottom: none;}
	
	.header { position: absolute; top: 20px; left: 0; padding: 0 40px; display: block; z-index: 1;
        @media (max-width: 767px){padding: 0 10px 20px 10px !important;position: inherit;}
		.left {text-align: left;display: flex; align-items: center;padding-left: 0;
            
            @media (max-width: 767px){padding-left: 0px;}
            
			.logo { display: inline-block; width:275px;margin-top: -7px;
				
				@media (max-width: 991px) {width: 35%;}
				 
				@media (max-width: 767px) {display: inline-block; justify-content: center;align-items: center;width: 70%;margin-top: -7px;}
				
				img { max-width: 100%;
				@media (max-width: 767px) {margin-top: 0px;}
				}
			}
			.title {display: inline-block; font-size: 30px;
    font-family: 'proxima_nova_altsemibold'; padding-left: 15px;   color: #303033; 
				@media (max-width: 991px) {font-size: 18px !important;	}
				@media (max-width: 767px) {font-size: 15px !important;	}
				@media (max-width: 567px) {font-size: 12px !important;	}
			}
		}
		.right {text-align: right; position: relative;
			@media (max-width: 767px) {
				text-align: center;	
				}
			img {max-width: 70%; margin-right: -55px; margin-top: 0px;
				
				@media (min-width: 1600px) { 
				 max-width: 60%;
				}
				
				@media (max-width: 991px) { position: absolute;
				 top: 5px; right: -50px; margin-right: inherit; margin-top: inherit; max-width: 92%;
				}
				
				@media (max-width: 768px) { position: absolute;
				 top: 0px; right: -34px; margin-right: inherit; margin-top: inherit; max-width: 140%;
				}
				
			@media (max-width: 576px) { position: absolute;
				 top: 0px; right: -10px; margin-right: inherit; margin-top: inherit; max-width: 100%;
				}
				
			}
			@media(min-width: 992px){
			.black {display: none;}
		}
		@media(max-width: 991px){
			.white {display: none;}
		}
		}
	}
}


/*-------section1--------*/
#section1 { 
	position: relative;
	background-image: url(../images/fleet/contact-bg1.svg), url(../images/fleet/contact-bg2.svg);
	background-position: left top, right bottom;
	background-repeat: no-repeat;
	background-size: 40%, 40%;
	background-color: #f3f6f8;
	margin: 0;
    
	
	@media (max-width: 991px) {padding: 50px 0; height: auto !important;}
	
	.copyright {position: absolute; left: 0; bottom: 15px; font-size: 14px; font-weight: bold; display: block; text-align: center;}
	
	
	
	.swing-live {display: flex;justify-content: center;align-items: center;
		.title { 
			h1 {padding: 0 0 40px 0; display: block; font-size: 50px; font-family: 'proxima_nova_altbold'; text-align: center; text-transform: uppercase;
		
		@media(max-width: 991px){font-size: 27px; padding-bottom: 20px;}
		}
		}
		.left-1 { background: #fff;  padding: 64px 0px; border-right: 1px solid #f2f5f7; border-radius: 60px 0 0 60px; box-shadow: 0px 0px 20px #dddddd;position: relative;
			@media (max-width: 767px) {
				padding: 35px; border-radius: 40px 40px 0 0; border-bottom: 3px solid #f2f5f7;
			}
			span { text-align: center; display: block;height: 109px;
                p{
                    font-size: 13px;text-transform: uppercase;color: #fff;background: #252627;border-radius: 10px;padding: 3.3px 10px 2px 10px;line-height: 11px;letter-spacing: 1px;display: inline-block;position: absolute;left: 22.5%;transform: translate(-50%, -50%);margin-bottom: 0;top: 36%;
                }
				@media (max-width: 991px) { 
				border-radius: 0 70px 70px 0;;
				}
				img {max-width: 74%;height: auto;margin-top: 22px;
				
					
				}
				
			}
		}
		.right-1 { background: #fff;  padding: 66px 50px; border-radius: 0 60px  60px 0; box-shadow: 10px 0px 20px #dddddd;
			
			@media (max-width: 1500px) {
				padding: 65px 50px;
			}
			
			
			
			@media (max-width: 767px) {
				padding: 35px; border-radius: 0 0 40px 40px; box-shadow: 10px 10px 20px #dddddd;
			}
			
			span {font-size: 17px; display: block; color: #000; font-weight: bold; 
			display: flex;
    justify-content: center;
    align-items: center;
			
				@media (max-width: 767px) {
		padding-left: 0px; text-align: center;
	}
				img {max-width: 52%; display: block; margin-top: 10px; margin-bottom: 10px;
					
					@media (max-width: 767px) {
						max-width: 50%; margin:10px auto; 
					}
			}
				
			}
			
			
		}
	}
	    
    @media only screen and (max-width: 1024px){
        .swing-live{
            .left-1{
                padding: 54px 0;
                span{
                    p{
                        font-size: 11px;
                    }
                        img{
                            padding-top: 0;
                        }
                    }
            }
        }
    }
    @media only screen and (max-width: 992px){
        .swing-live{
            .left-1{
                padding: 44px 0;
                span{
                    p{
                        font-size: 7px;
                        left: 37%;
                        top: 36%;
                    }
                        img{
                            max-width: 60%;
                            height: 110px;
                            padding-top: 0;
                        }
                    }
            }
        }
    }
    
	@media (max-width: 767px) {
        padding: 50px 0 80px 0;
		.row {margin: 0 15px;}
        .swing-live{
            .left-1{
                padding: 34px 0;
                span{
                    height: auto;
                    p{
                        font-size: 8px;
                        left: 25;
                        top: 33%;
                        padding: 6px 8px 5px 10px;
                    }
                        img{
                            max-width: 70%;
                            height: auto;
                            padding-top: 20px;
                            margin-top: 0;
                        }
                    }
            }
        }
	}
}

/*-------section2--------*/
#section2 { position: relative;
    display: flex;
    align-items: center;
    &:before{
        position: absolute;content: '';width: 400px;height: 140px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    
    .container-fluid{
        height: 100% !important;
    }
    .about-row{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .about-client{
        padding: 20px;
        margin-right: 30px;
        min-height: 280px;
        border-bottom: 2px solid #376bfb;
        h3{
            font-size: 34px;
            color: #000;
            margin-bottom: 25px;
            font-weight: bold;
            font-family: 'proxima_nova_altsemibold';
        }
        p{
            font-size: 21px;
            color: #000;
            margin-bottom: 0;
            font-weight: 500;
            line-height: 30px;
            b{
                font-family: 'proxima_nova_altsemibold';
            }
        }
    }
    .module-list{
        margin-top: 40px;
        padding: 20px;
        h3{
            font-size: 34px;
            color: #000;
            font-weight: bold;
            margin-bottom: 15px;
            font-family: 'proxima_nova_altsemibold';
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            li{
                font-size: 21px;
                color: #fff;
                background: #376bfb;
                border-radius: 50px;
                padding: 3px 25px;
                display: inline-block;
                margin: 0 10px 8px 0;
            }
        }
    }
    @media only screen and (max-width: 1366px){
        .about-row{
            margin-top: 50px;
        }
    }
    @media only screen and (max-width: 767px){
        .about-row{
            margin-top: 0px;
            margin: 0;
        }
        .header{
            .left{
                padding-left: 15px;
                
            }
        }
        .about-client{
            padding: 10px 10px 20px 10px;
            margin-right: 0;
            min-height: auto;
            margin-bottom: 30px;
            h3{
                font-size: 26px;
                margin-bottom: 10px;
            }
            p{
                font-size: 20px;
                line-height: 28px;
            }
        }
        .module-list{
            margin-top: 0;
            padding: 0;
            h3{
                font-size: 26px;
            }
            ul{
                li{
                    display: block;
                    width: 100%;
                    font-size: 22px;
                    padding: 5px 25px 7px 25px;
                }
            }
        }
    }
}


/*-------section3--------*/
#section3 { position: relative;
	background-image: url(../images/healthcare-cs2/section3-bg.png);
    background-repeat: no-repeat;
    background-position: 40% 110px;
    background-size: 32%;
    display: flex;
    overflow: hidden;
    align-items: center;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .container-fluid{
        height: 100% !important;
    }
    .row{
        height: 100% !important;
    }
    .technical-area{
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        h2{
            font-size: 34px;
            color: #000;
            margin-bottom: 20px;
            padding-left: 30px;
            font-family: 'proxima_nova_altsemibold';
        }
    }
    .technical-number{
        background: #505050;
        border-radius: 80px;
        padding: 15px 45px 15px 30px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        min-height: 110px;
        h3{
            font-size: 50px;
            color: #fff;
            margin-bottom: 10px;
            margin-right: 20px;
            min-width: 40px;
            font-family: 'Bebas';
        }
        p{
            font-size: 21px;
            color: #fff;
            line-height: 26px;
            margin-bottom: 5px;
        }
    }
    .solution-area{
        padding: 155px 150px 230px 125px;
        border-radius: 50%;
        width: 100%;
        height: 765px;
        position: absolute;right: -165px;
        top: 150px;
        background: #376bfb;
    }
    .solution-head{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img{
            margin-right: 16px;
            width: 50px;
            margin-left: -7px;
        }
        h2{
            font-size: 35px;
            color: #fff;
            margin-bottom: 0;
            font-family: 'proxima_nova_altsemibold';
        }
    }
    .solution-number{
        display: flex;
        align-items: flex-start;
        border-bottom: 1px dotted #fff;
        margin-bottom: 20px;
        padding-bottom: 20px;
        h3{
            font-size: 50px;
            min-width: 40px;
            color: #fff;
            line-height: 1;
            margin-bottom: 0;
            margin-right: 20px;
            font-family: 'Bebas';
        }
        p{
            font-size: 21px;
            color: #fff;
            line-height: 27px;
            margin-bottom: 0;
        }
        &:last-child{
            border-bottom: 0;
        }
    }
    @media only screen and (max-width: 1366px){
        .technical-area{
            margin-top: 20px;
            h2{
                font-size: 32px;
                margin-bottom: 15px;
                padding-left: 40px;
            }
        }
        .technical-number{
            min-height: 105px;
            h3{
                margin-right: 15px;font-size: 45px;
            }
            p{
                font-size: 20px;line-height: 26px;
            }
        }
        .solution-area{
            padding: 120px 130px 255px 115px;
            height: 745px;
            right: -115px;
            top: 95px;
            .solution-number{
                h3{
                    font-size: 45px;
                }
                p{
                    font-size: 21px;
                    line-height: 26px;
                }
            }
        }
        .solution-head{
            img{
                width: 60px;
            }
            h2{
                font-size: 33px;
            }
        }
    }
    @media only screen and (max-width: 1280px){
        .technical-number{
            min-height: 95px;
            h3{
                margin-right: 10px;
            }
            p{
                font-size: 18px;
                line-height: 23px;
            }
        }
        .solution-area{
            padding: 100px 115px 175px 110px;
            height: 690px;
            right: -115px;
            top: 120px;
        }
    }
    @media only screen and (max-width: 767px){
        padding-left: 15px !important;
        padding-right: 15px !important;
        
        .container-fluid{
            height: auto !important;
        }
        .row{
            height: auto !important;
        }
        
        .header{
            .left{
                .logo{
                    margin-top: -15px;
                }
            }
        }
        
        .technical-area{
            margin-top: 0;
            height: auto;
            h2{
                font-size: 28px !important;
            }
        }
        .technical-number{
            min-height: auto;
        }
        .solution-area{
            position: relative;
            right: 0;top: auto;
            height: auto;
            border-radius: 15px;
            padding: 20px;
            margin-top: 35px;
            
            .solution-head{
                img{
                    width: 55px;
                }
                h2{
                    font-size: 30px;
                }
            }
        }
        .solution-number{
            h3{
                margin-right: 15px;
            }
            p{
                font-size: 20px;
                line-height: 25px;
            }
        }
    }
}

/*-------section4--------*/
#section4 { position: relative;
	background-image: url(../images/healthcare-cs2/section3-bg.png);
    background-repeat: no-repeat;
    background-position: 40% 110px;
    background-size: 32%;
    display: flex;
    align-items: center;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    
    .fp-tableCell{
        height: auto !important;
    }
    
    .techno-area{
        margin-top: 60px;
    }
    
    .techno-top{
        padding: 20px;
        margin-bottom: 30px;
        border-bottom: 1px dotted #696696; 
        h2{
            font-size: 40px;
            line-height: 45px;
            color: #000;
            font-weight: bold;
            font-family: 'proxima_nova_altsemibold';
        }
        p{
            font-size: 22px;
            color: #000;
            font-weight: bold;
            margin-bottom: 0;   
        }
    }
    .techno-bottom{
        h3{
            font-size: 30px;
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 20px;
            margin-bottom: 10px;
            font-family: 'proxima_nova_altsemibold';
        }
        ul{
            margin-bottom: 0;
            counter-reset: mynum;
            li{
                font-size: 21px;
                color: #000;
                border-bottom: 1px solid #376bfb;
                padding: 13px 10px 13px 70px;
                position: relative;
                line-height: 26px;
                counter-increment: mynum;
                &:before{
                    position: absolute;        
                    content: "0"counter(mynum);
                    font-size: 22px;
                    color: #fff;
                    width: 38px;
                    height: 38px;
                    background: #376bfb;
                    border-radius: 50px;
                    text-align: center;
                    line-height: 39px;
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: 'Bebas';
                }
                &:last-child{
                    border-bottom: 0;
                }
            }
        }
    }
    @media only screen and (max-width: 1366px){
        .techno-top{
            padding: 20px 20px 15px 20px;
            margin-bottom: 15px;
            h2{
                font-size: 37px;
                margin-bottom: 5px;
            }
            p{
                font-size: 20px;
            }
        }
        .techno-bottom{
            h3{
                margin-bottom: 5px;
            }
            ul{
                li{
                    font-size: 22px;
                    padding: 10px 10px 10px 70px;
                    &:before{
                        font-size: 21px;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 1280px){
        .techno-top{
            padding: 25px 20px 15px 20px;
            h2{
                font-size: 32px !important;
            }
        }
        .techno-bottom{
            ul{
                li{
                    font-size: 21px;
                    padding: 10px 10px 10px 65px;
                    &:before{
                        font-size: 19px;
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                    }
                }
            }
        }
        .techno-bottom{
            h3{
                font-size: 28px;
            }
        }
    }
    @media only screen and (max-width: 767px){
        .header{
            .left{
                padding-left: 15px;
                .logo{
                    margin-top: -7px;
                }
            }
        }
        .techno-area{
            margin-top: 0px;
        }
        .techno-top{
            padding: 15px 10px 15px 10px;
            h2{
                font-size: 26px !important;
                margin-bottom: 5px;
            }
            p{
                font-size: 18px;
                line-height: 25px;
            }
        }
        .techno-bottom{
            h3{
                font-size: 26px !important;
                padding: 0 10px;
            }
            ul{
                li{
                    font-size: 18px;
                    line-height: 24px;
                    &:before{
                        left: 10px;
                    }
                    padding: 10px 5px 10px 50px;
                }
            }
        }
    }
}


/*-------section5--------*/
#section5 { position: relative;
	background-image: url(../images/healthcare-cs2/section3-bg.png);
    background-repeat: no-repeat;
    background-position: 85% 110px;
    background-size: 32%;
    display: flex;
    align-items: center;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .fp-tableCell{
        height: auto !important;
    }
    .highlight-title{
        padding: 0 0 20px 0px;
        margin-top: 70px;
        h2{
            font-size: 36px;
            color: #000;
            font-family: 'proxima_nova_altsemibold';
            margin-bottom: 0;
            font-weight: bold;
        }
    }
    .highlight1{
        border: 1px solid #376bfb;
        border-radius: 10px;
        padding: 30px 25px 30px 25px;
        margin-bottom: 15px;
        min-height: 275px;
        h3{
            font-size: 26px;
            color: #376bfb;
            font-weight: bold;
            margin-bottom: 7px;
            font-family: 'proxima_nova_altsemibold';
        }
        p{
            font-size: 21px;
            color: #000;
            line-height: 25px;
            margin-bottom: 0;
        }
    }
    @media only screen and (max-width: 1366px){
        .highlight-title{
            h2{
                font-size: 30px;
            }
        }
        .highlight1{
            padding: 15px;
            min-height: 215px;
            h3{
                margin-bottom: 8px;
                font-size: 22px;
            }
            p{
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
    @media only screen and (max-width: 767px){
        .header{
            .left{
                padding-left: 15px;
                .logo{
                    margin-top: -7px;
                }
            }
        }
        .highlight-title{
            margin-top: 0;
            padding-left: 0;
            h2{
                font-size: 26px;
            }
        }
        .highlight1{
            min-height: auto;
            padding: 20px;
        }
    }
}


/*-------section6--------*/
#section6 { position: relative;
	background-image: url(../images/healthcare-cs2/section6-bg.jpg);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100% !important;
    }
    .row{
        height: 100% !important;
    }
    .architec-img{
        text-align: center;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
        }
    }
    @media (max-width: 767px){
        .header{
            .title{
                padding-left: 12px;
                padding-top: 8px;
                padding-bottom: 8px;
                line-height: 1.3;
            }
            .left{
                padding-left: 0px;
                margin-top: -8px;
                .logo{
                    margin-top: -7px;
                }
            }
        }
        .architec-img{
            img{
                width: 100%;
            }
        }
    }
}


/*-------section7--------*/
#section7 { position: relative;
    background-image: url(../images/healthcare-cs2/section7-bg.png);
    background-repeat: no-repeat;
    background-position: 95% 110px;
    background-size: 32%;
    padding: 0;
    display: flex;
    align-items: center;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .main-row{
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 auto;
        margin-top: 45px;
    }
    .comp1{
        border: 1px solid #b1c5fd;
        border-radius: 10px;
        text-align: center;
        padding: 30px;
        margin-bottom: 30px;
        min-height: 235px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img{
            width: 85px;
            height: 85px;
            object-fit: contain;
            margin-bottom: 20px;
        }
        p{
            font-size: 25px;
            font-weight: bold;
            color: #303032;margin-bottom: 0;
        }
    }
    .bulb-img{
        img{
               width: 85px;
        height: 85px;
        }
    }
    @media only screen and (max-width: 1366px){
        .comp1{
            padding: 15px;
            img{
                width: 110px;
                height: 130px;
                margin-bottom: 10px;
            }
            p{
                font-size: 22px;
                margin-bottom: 5px;
            }
        }
    }
    @media (max-width: 767px){
        .header{
            .title{
                padding-left: 12px;
                padding-top: 8px;
                padding-bottom: 8px;
                line-height: 1.3;
            }
            .left{
                padding-left: 0px;
                margin-top: -8px;
                .logo{
                    margin-top: 0px;
                    padding-left: 5px;
                }
            }
        }
        .main-row{
            margin-top: 15px;
        }
        .comp1{
            padding: 25px;
            img{
                height: auto;
            }
        }
    }
}



/*-------section8--------*/
#section8 { position: relative;
	background-image: url(../images/healthcare-cs2/section7-bg.png);
    background-repeat: no-repeat;
    background-position: 95% 110px;
    background-size: 32%;
    padding: 0;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .architec-img{
        text-align: center;
        height: 100%;
        img{
            width: 93%;
            height: 100%;
            margin: 0 auto;
        }
        @media only screen and (min-width: 1600px){
            &{
                img{
                    width: 85%;
                }
            }
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 80%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 88%;
            }
        }
    }
    @media only screen and (max-width: 767px){
            .header{
                .title{
                    padding-left: 12px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    line-height: 1.3;
                }
                .left{
                    padding-left: 0px;
                    margin-top: -8px;
                    .logo{
                        margin-top: 0px;
                        padding-left: 5px;
                    }
                }
            }
            .architec-img{
                height: auto;
                img{
                    width: 100%;
                }
            }
        }
}




/*-------section9--------*/
#section9 { position: relative;
	&:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 83%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 86%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }

    }
}



/*-------section10--------*/
#section10 { position: relative;
    display: flex;
    align-items: center;
	&:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 83%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 86%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section11--------*/
#section11 { position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 83%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 86%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section12--------*/
#section12 { position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 82%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 80%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 86%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section13--------*/
#section13 { position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 83%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 86%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section14--------*/
#section14 { position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 83%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 86%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section15--------*/
#section15 { position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 82%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 82%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 86%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section16--------*/
#section16 { position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 83%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 86%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section17--------*/
#section17 { position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 82%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 86%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section18--------*/
#section18 { position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 82%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 86%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section19--------*/
#section19 { position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 82%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 90%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section20--------*/
#section20{ position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 82%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 90%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section21--------*/
#section21{ position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 82%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 90%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section22--------*/
#section22{ position: relative;
    &:before{
        position: absolute;content: '';width: 400px;height: 175px;background-image: url(../images/healthcare-cs2/shape1.png);background-repeat: no-repeat;top: 0;left: 0;background-position: right bottom;
    }
    .header{
        .title{
            font-size: 33px;color: #000;font-weight: bold;padding-left: 20px;border-left: 2px solid #b1c5fd;padding-top: 10px;padding-bottom: 10px;line-height: 1;margin-top: -5px;
        }
        @media only screen and (max-width: 1366px){
            .left{
                margin-top: -10px;
            }
        }
    }
    .container-fluid{
        height: 100%;
    }
    .row{
        height: 100%;
    }
    .screen-img{
        img{
            width: 93%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
        @media only screen and (min-width: 1600px){
            img{
                width: 85%;
            }        
        }
        @media only screen and (max-width: 1366px){
            img{
                width: 82%;
            }
        }
        @media only screen and (max-width: 1280px){
            img{
                width: 90%;
            }
        }
        @media only screen and (max-width: 767px){
            text-align: center;
            margin-top: 25px;
            img{
                position: relative;
                width: 95%;
                left: auto;
                right: auto;
                bottom: auto;
            }
        }
    }
}

/*-------section23--------*/
#section23 {position: relative;
	background-image: url(../images/fleet/contact-bg1.svg), url(../images/fleet/contact-bg2.svg);
	background-position: left top, right bottom;
	background-repeat: no-repeat;
	background-size: 40%, 40%;
	margin: 0;
	
	.thanks { width: 80%; padding: 25px 0; margin: 0 auto; font-size: 100px; text-align: center; text-transform: uppercase;
		font-family: 'renogareregular'; border-bottom: 4px solid red;
		
		@media(max-width: 991px){  width: 95%; font-size: 80px;}
@media(max-width: 767px){ font-size: 60px;}
		@media(max-width: 576px){ font-size: 40px;}


	}
	
	.welcome-bottom-links{margin: 50px 0;
        @media only screen and (max-width: 767px){
            margin: 30px 0;
        }
		.bt-links {display: flex;flex-wrap: wrap;align-items: center;justify-content: center;
			.lists{margin: 10px;
                @media (max-width: 767px){
                    margin: 0 0 12px 0;
                }
				p.border-line{border-right: 1px solid #707070; padding-right: 40px;padding-left: 20px;font-size: 25px;
					
					@media(max-width: 991px){  font-size: 20px;
						border-right:0PX;
						.bor-none {border: none;}
					}
						@media(max-width: 767px){ font-size: 17px;}
					@media(max-width: 576px){ border: none;margin-bottom: 0;}
					
					
					img {margin-top: 0px;}
					@media(max-width: 991px){  
						.web { width: 10%;}
						.mail {width: 10%;}
						.tel {width: 12%;}
						}
						@media(max-width: 767px){
						.web { width: 9%;}
						.mail {width: 9%;}
						.tel {width: 13%;}
						}
				span{ padding-left: 10px;
                    @media (max-width: 767px){
                        padding-left: 5px;
                    }
				a {color: #333;
					&:hover {color: #000; text-decoration: none;}
				}
				}
			
			}
				.b-none {border-right: none!important;}
		}
}
}
	.footer-logo {margin: 0 auto; text-align: center;
		img {width: 220px;}
	}
	
}



.fp-tableCell {
	@media(max-width: 991px){
			height: auto!important;
		}
}



 #section2, #section4, #section5, #section7 {
	font-size: 20px;
	
	@media (max-width: 991px){ 
		height: auto !important;
		padding: 110px 20px 70px 20px!important;
//		h2 {font-size: 25px!important;}
    }
	 
	 @media (max-width: 767px){ 
//		h2 {font-size: 20px!important;}
         padding: 30px 0px!important;
    }
	
	@media (max-width: 567px){ 
		.container-fluid {padding: 0;}
    }
}

#section3,#section4{
    @media (max-width: 767px){
        height: auto !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}
 
#section7,#section8{
    @media (max-width: 991px){ 
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

#section23{
    @media (max-width: 767px){
        height: auto !important;
        padding-top: 60px !important;
        padding-bottom: 60px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

 #section6,#section9, #section10, #section11, #section12, #section13, #section14, #section15, #section16, #section17, #section18, #section19, #section20,#section21,#section22{
    @media (max-width: 767px){
        height: auto !important;
        padding: 30px 0 0 0 !important;
        
    }
}

#section8{
    @media (max-width: 767px){
        height: auto !important;
    padding: 30px 0 !important;
    }
}

.header{
    @media (max-width: 767px){ 
        padding-bottom: 40px !important;
    }
}

@media (max-width: 767px){
    .m-sm-0{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    body{
        overflow-x: hidden !important;
    }
    html{
        overflow-x: hidden !important;
    }
    .p-sm-0{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}